body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
  color: #333;
}

.container {
  text-align: center;
  padding: 20px;
}

.header h1, .header h2 {
  margin: 10px 0;
  color: #f06292;
}

.header p {
  margin-bottom: 20px;
  color: #333;
}

.image {
  width: 150px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

.green-button {
  background-color: red;
  color: darkred;
  border: none;
  padding: 10px 20px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 5px;
}

#orange-button {
  background-color: #ff9800;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 5px;
}

#brown {
  background-color: #ff9800;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.feedback-button {
  background-color: #673ab7;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.audio-player {
  margin-top: 20px;
}

.note, .reminder, .feedback-note, p {
  margin: 10px 0;
  font-size: 14px;
}
